<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Destacamento 63 Exploradores Do Rei</title>
</head>

<body>
    <div id="login">
        <div class="box">
            <img src="../images/logoDestacamento 1.png" alt="">
            <h1>LOGIN</h1>
            <div class="usuario">
                <input type="text" placeholder="Usuário">
            </div>
            <div class="senha">
                <input type="password" placeholder="Senha">
            </div>
            <div class="entrar">
                <a href="#">
                    <p>Esqueceu sua senha?</p>
                </a>
                <input type="submit" value="Entrar">
            </div>
            <div class="box2"></div>
        </div>
    </div>
</body>

</html>